%nav.nav.nav-pills.flex-column.flex-sm-row
  %a.flex-sm-fill.text-sm-center.nav-link.active{:href => "#"} Active
  %a.flex-sm-fill.text-sm-center.nav-link{:href => "#"} Link
  %a.flex-sm-fill.text-sm-center.nav-link{:href => "#"} Link
  %a.flex-sm-fill.text-sm-center.nav-link.disabled{:href => "#"} Disabled
