%h1 Pages#index
%p Find me in app/views/pages/index.html.haml
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
%p.my-5 finally bootstrap working
